nav
  .container
    img.logo(src="./images/logo.svg", alt="logo - insure")
    ul.list
      li: a(href="#work") How we work
      li: a(href="#") Blog
      li: a(href="#") Account
    a.btn(href="#plans") View plans
    img.burger(src="./images/icon-hamburger.svg", alt="burger icon")

.nav
  img.svg(src="./images/bg-pattern-mobile-nav.svg", alt="navigation pattern for mobile")
  .container
    ul.list
      li: a(href="#work") How we work
      li: a(href="#") Blog
      li: a(href="#") Account
    .btn View plans
